.zanah__footer {
    border: 1px solid whitesmoke;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-footer);
}

.zanah__footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.zanah__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}

.zanah__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;

    margin-bottom: 10rem;
    cursor: pointer;
}

.zanah__footer-btn p {
   
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;

}

.zanah__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
    text-align: left;
}

.zanah__footer-links div {
    width: 250px;
    margin: 1rem;
}

.zanah__footer-links_logo {
    display: flex;
    flex-direction: column;

    

}

.zanah__footer-links_logo img{
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
}

.zanah__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #EEEEEE;
}


.zanah__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.zanah__footer-links_div h4 {
    font-family: var(--font-family);
    font_size: 14px;
    line-height: 16px;
    color: #EEEEEE;
    margin-bottom: 1rem;

}

.zanah__footer-links_div p{
    font-family: var(--var-family);
    font-size: 12px;
    line-height: 14px;
    color: #FFFF;

}

.zanah__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.zanah__footer-copyright p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
   
    color: #fff;
}

@media screen and (max-width: 850px) {

    .zanah__footer-heading h1 {
        font-size: 44px;
        line-height: 42px;

    }
    .zanah__footer-links_div {
        margin: 1rem 0;
    }

    .zanah__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
    
}

@media  screen and (max-width: 550) {

    .zanah__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .zanah__footer-links div {
        margin: 1rem 0 ;

    }

    .zanah__footer-btn p {
            font-size: 14px;
            line-height: 20px;
    }
}

@media screen and (max-width: 550px) {
    .zanah__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
    
}